<% if @article.errors.any? %>
  <h4>The following errors prevented this post to be created</h4>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

  <div class="row" id="form-row">
    <div class="col-md-12">
      <%= form_for @article do |f| %>
          <%= f.label :Location %>
          <%= f.text_field :title, class:'form-control'%>
           <div class="field">
             <%= f.text_area :description %>
           </div>
      <p>
        <%= f.label :Video %>
      </p>

      <p>
        <%= f.file_field :clip %>
      </p>
      <div class="field">
        <%= f.text_area :description %>
      </div>
      <p>
        <%= f.label :Photos %>
        </p>
        <p>
        <%= f.file_field :thumbnail %>
      </p>
      <p>
        <%= f.label :Assignment %>
        </p>
        <p>
        <%= f.text_area :description %>
      </p>
      <p>
        <%= f.label :description %>
        </p>
        <div class="field">
          <%= f.rich_text_area :content %>
        </div>
      <p>
        <%= f.submit :"create memory"%>
      </p>
    <% end %>
    <!--comment form start -->


  <!--comment form end -->
  </div>
  </div>



<%= link_to  "Back to Memories listings", articles_path %>
