<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body id="form-body">
    <% if @article.errors.any? %>
      <h4>The following errors prevented this memory to be created</h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <%= form_for @article do |f| %>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :location %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :title, class: "form-control", placeholder: "location", autofocus: true %>
          </div>
        </div>
        <br><br>
        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, rows: 10,  class: "form-control", placeholder: "body of blog", autofocus: true %>
          </div>
        </div>
        <div class="col-sm-8">
          <%= f.file_field :clip %>
        </div>
        <br><br><br><br><br>
        <div class="form-group">
          <div class="control-label col-sm-6">
            <%= f.label :description %>
          </div>
          <div class="col-sm-12">
            <%= f.text_area :descriptions, rows: 10, class: "form-control", placeholder: "about our video", autofocus: true %>
          </div>
        </div>
        <div class="col-sm-8">
          <%= f.file_field :images, multiple: true %>
        </div>
        <br><br><br><br><br><br><br>
        <div class="form-group">
          <div class="control-label col-sm-6">
            <%= f.label :description %>
          </div>
          <div class="col-sm-12">
            <%= f.text_area :descriptionstwo, rows: 10, class: "form-control", placeholder: "about our video", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-6">
            <%= f.label :assignment %>
          </div>
          <div class="col-sm-12">
            <%= f.text_area :descriptionsthree, rows: 10, class: "form-control", placeholder: "about our video", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <br>  <br><br><br><br><br>
          <div class="col-sm-offset-6 col-sm-2">
            <%= f.submit class: "btn btn-primary btn-md" %>
          </div>
        </div>
      <% end %>
      </div>
      <br><br><br><br><br>
      <div class="col-xs-4 col-xs-offset-4" align="center">
        <%= link_to 'Stephanie', stephanie_path %>||
        <%= link_to 'Luther', luther_path %>
        ||
        <%= link_to 'Delani', delani_path %>
        ||
        <%= link_to 'Cole', cole_path %>
        ||
        <%= link_to 'home', home_path %>

      </div>
</div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"/>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
