<link href="https://fonts.googleapis.com/css?family=Faster+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">

<body id="luthers">
  <div class="header" id="luthers-name">
    <div>Luther</div>
  </div>
  <!-- navbar menu -->
<div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn1"><img src="https://img.icons8.com/dusk/96/000000/define-location.png"></button>
  <div id="myDropdown" class="dropdown-content">
      <%= link_to "Home", home_path, class:"nav-link" %>
      <%= link_to "Stephanie", stephanie_path, class:"nav-link" %>
      <%= link_to "Delaney", delani_path, class:"nav-link" %>
      <%= link_to "Cole", cole_path, class:"nav-link" %>
      <%= link_to "Create A New Memory", new_article_path, class:"nav-link" %>
      <%= link_to "Log In", root_path, class:"nav-link" %>
      <%= link_to "Log out", logout_path, method: :delete %>
  </div>
</div>
<% @articles.each do |article| %>
    <div class="card" id="lutherscard">
      <div class="card-body" id="lutherscardbody">
        <h4 class="card-title" id="lutherscardtitle">
          <%= link_to article.title, article_path(article)%></h4>
        <p class="card-text">
          <%= truncate(article.description, length: 100)%></p>
        <div class="card-footer">
          Created by:
          <%= article.user.name if article.user%>,
          <%= time_ago_in_words(article.created_at) %>
          ago, last updated:
          <%= time_ago_in_words(article.updated_at) %>
          ago
        </div>
        <br>
        <% if logged_in? && (current_user == article.user || current_user.admin?)%>
          <div class="article-actions">
            <%= link_to "Edit this memory", edit_article_path(article), class: "btn btn-primary btn-sm"%>
            <%= link_to "delete", article_path(article) method: :delete, data: {confrim: "Are you sure you would like to delete this?"}, class: "btn btn-danger btn-sm" %>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>


  <a id="upbutton3"><img src="https://img.icons8.com/android/24/000000/chevron.png"></a>

<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn1')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown1 = dropdowns[i];
      if (openDropdown1.classList.contains('show')) {
        openDropdown1.classList.remove('show');
      }
    }
  }
}
//back to the top button
jQuery(document).ready(function() {

var btn = $('#upbutton3');

$(window).scroll(function() {
if ($(window).scrollTop() > 300) {
  btn.addClass('show');
} else {
  btn.removeClass('show');
}
});

btn.on('click', function(e) {
e.preventDefault();
$('html, body').animate({scrollTop:0}, '300');
});

});
</script>
</body>
